<div class="container">
<header>
  <div class="col-md-12 clearfix">
  <nav class="navbar navbar-light bg-light">
    <ul class="nav justify-content-end">
     
        <!-- <li><a routerLink="login">Log In</a></li>
        <li><a routerLink="signup">Sign Up</a></li> -->
      <li><a routerLink="templaetdrivenform">Templte</a></li>     
    <li><a routerLink="reactform">Reactive</a></li>
    <li><a routerLink="tabledata">Table Data</a></li>
    <li><a routerLink="employeeslist">Emp List</a></li>
    <li><a routerLink="create-employee">Add Employee</a></li>
    <li><button type="button" [routerLink]="['guest']" class="btn btn-primary btn-sm">Guest</button></li>
      
    </ul>
  </nav></div>
</header>
</div>